
/* Define distances between elements */

.space {
	margin: 0 3px;
}

.free {
	padding: 3px 0;
}

.apart {
	margin-top: 10px;
}

/* Give input elements the same size as the corresponding text elements */

input.h1 {
	width: auto;
	max-width: 300px;
	height: auto;
	line-height: 1.1;
	font-size: 36px;
	padding: 6px 12px;
	margin: 13px 0 3px;
}

input.h4 {
	display: inline;
	width: auto;
	max-width: 120px;
	height: auto;
	line-height: 1.1;
	font-size: 18px;
	padding: 6px 12px;
	margin: 3px 0 3px;
}

input.span {
	display: inline;
	width: auto;
	height: auto;
	line-height: 1.1;
	font-size: 14px;
	padding: 3px 12px;
	margin: 3px 0 3px;
}

textarea.span {
	overflow-x: hidden;
	resize: vertical;
	width: 100%;
	height: 75px;
	font-size: 14px;
	padding: 3px 12px;
	margin: 3px 0 3px;
}
